@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.navContainer {
  width: 1170px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar,
.navbar .navContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}
@media (max-width: 768px) {
  .navbar,
  .navbar .navContainer {
    display: block;
  }
}

.navbar {
  padding: 1.15rem 1rem;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
}
@media (min-width: 576px) {
  .navbar .navContainer {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .navbar .navContainer {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .navbar .navContainer {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .navbar .navContainer {
    max-width: 1140px;
  }
}
.navbar .navbar-header {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar .navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.navbar .navbar-header .navbar-toggler {
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}
@media (max-width: 768px) {
  .navbar .navbar-header .navbar-toggler {
    display: block;
    margin-left: 100px;
  }
}
.navbar .navbar-header .navbar-toggler span {
  height: 2px;
  width: 22px;
  background-color: #000000;
  display: block;
}
.navbar .navbar-header .navbar-toggler span:not(:last-child) {
  margin-bottom: 0.2rem;
}
.navbar .navbar-header > a {
  font-weight: 500;
  color: #3c4250;
  text-decoration: none;
  outline: none;
}
.navbar .navbar-menu {
  display: flex;
  flex-basis: auto;
  align-items: center;
}

@media (max-width: 768px) {
  .navbar .navbar-menu {
    flex-grow: 1;
  }
}

@media (max-width: 768px) {
  .navbar .navbar-menu {
    display: none;
  }
}
.navbar .navbar-menu .navbar-nav {
  margin: auto;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
/* .navbar-menu {
  transition: ease-in 0.3s;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 0.4s;
  -moz-animation: fadeIn ease 0.4s;
  -o-animation: fadeIn ease 0.4s;
  -ms-animation: fadeIn ease 0.4s;
} */

.navbar-dropdown {
  transition: ease-in 1s;
}

.navbar-sticky {
  transition: ease-in 1s;
}

@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    width: 100%;
    display: block;
    margin-top: 1rem;
  }
}
.navbar .navbar-menu .navbar-nav > li > a {
  color: #3c4250;
  text-decoration: none;
  display: inline-block;
}
.navbar .navbar-menu .navbar-nav > li > a:hover {
  color: #66f;
}
.navbar .navbar-menu .navbar-nav > li.active a {
  color: #66f;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
  list-style: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: #fff;
  /* padding: 0.5rem 0; */
  min-width: 160px;
  width: auto;
  white-space: nowrap;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 99999;
  border-radius: 0.75rem;
  display: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
    position: relative;
    box-shadow: none;
  }
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
  color: #3c4250;
  padding: 0.25rem 1rem;
  display: block;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
  display: block !important;
}
.navbar .navbar-menu .navbar-nav .dropdown > .separator {
  height: 1px;
  width: 100%;
  margin: 9px 0;
  background-color: #eee;
}
.navbar .navbar-dropdown {
  position: relative;
}

.navbar .navbar-header > a span {
  color: #66f;
}

.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .navbar .navbar-header h4 {
    font-size: 1.05rem;
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
@media (max-width: 768px) {
  #nav-logo {
    margin-right: 100px;
  }
}

@media (max-width: 568px) {
  #nav-logo {
    margin-right: 0px;
  }
}
/* 
  Back to top Button section (kinda part of the navbar I guess :) )
*/
#toTop {
  margin: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 9px;
  padding-right: 9px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  outline: none;
  display: none;
  border-radius: 50px;
  background-color: whitesmoke;
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),
    6px 6px 20px rgba(0, 0, 0, 0.199);
  border: 0px solid whitesmoke;
  color: black;
}
#toTop:hover {
  transition-duration: 0.3s;
  border-color: #2f89fc;
  color: #2f89fc;
  outline: none;
  /* box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),
    6px 6px 20px #2f89fc; */
  border: 0px solid whitesmoke;
  box-shadow: inset -6px -6px 20px rgba(255, 255, 255, 0.5),
    inset 6px 6px 20px rgba(0, 0, 0, 0.05);
}
